<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Allery</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
html,body {font-family:"Verdana",sans-serif}
h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",sans-serif}
</style>
{% include 'includes/navbarfirst.html' %}
<script src=""></script>
<body style=" background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);">

<div class="w3-sand  w3-large" style="margin: 30px 250px; border-style:inset; border-width:50px;">
<div class="w3-container" id="about" style="background-color: #6495ED;">
<div class="w3-content" style="max-width:700px">
<h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide"><center>ALLERGY</center></span></h2>
<center><img src="/static/assets/img/disease/allergy.jpg" alt="LA" style="width:75%"></center>
    <ul>
        <li><h4><b>Description</b></h4><p>An allergy is a reaction the body has to a particular food or substance.
            Allergies are very common. Having an allergy can be a nuisance and affect your everyday activities, but most allergic reactions are mild and can be largely kept under control. </p></li>
        <li><h4><b>Symptoms</b></h4><p>sneezing, a runny or blocked nose,
            red/itchy/watery eyes,
            wheezing and coughing,
            a red/itchy rash,
            worsening of asthma or eczema symptoms. </p></li>
        <li><h4><b>Precautions</b></h4><p>The reasons for this are not understood, but one of the main theories is it's the result of living in a cleaner, germ-free environment, which reduces the number of germs our immune system has to deal with.
            It's thought this may cause it to overreact.</p></li>
        <li><h4><b>Cures</b></h4><p>Eat Healthy, Wear a Mask, Wash yourself.</p></li>
    </ul>
  </div>
</div>
</div>
</body>
</html>