<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Allery</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
html,body {font-family:"Verdana",sans-serif}
h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",sans-serif}
</style>
<script src=""></script>
<body>

<img src="/static/assets/img/disease/allergy.jpg" alt="LA" style="width:75%">

<h1>Description</h1>
<p>An allergy is a reaction the body has to a particular food or substance.
    Allergies are very common. Having an allergy can be a nuisance and affect your everyday activities, but most allergic reactions are mild and can be largely kept under control. </p>
<h1>Symptoms</h1>
<p>sneezing, a runny or blocked nose,
    red/itchy/watery eyes,
    wheezing and coughing,
    a red/itchy rash,
    worsening of asthma or eczema symptoms</p>
<h1>Precautions</h1>
<p>The reasons for this are not understood, but one of the main theories is it's the result of living in a cleaner, germ-free environment, which reduces the number of germs our immune system has to deal with.
    It's thought this may cause it to overreact</p>
<h1>Cures</h1>
<p>Eat Healthy, Wear a Mask, Wash yourself.</p>
</body>
</html>