<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Allery</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
html,body {font-family:"Verdana",sans-serif}
h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",sans-serif}
</style>
<script src=""></script>
<body>

<img src="/static/assets/img/disease/anxiety.jpg" alt="LA" style="width:75%">

<h1>Description</h1>
<p>Anxiety is a feeling of unease, such as worry or fear, that can be mild or severe.
    Everyone has feelings of anxiety at some point in their life. For example, you may feel worried and anxious about sitting an exam or having a job interview </p>
<h1>Symptoms</h1>
<p>restlessness, a sense of dread, feeling constantly "on edge", difficulty concentrating, irritability</p>
<h1>Precautions</h1>
<p>walking fast or jogging, swimming, any sport, distract yourself</p>
<h1>Cures</h1>
<p>Learn to relax, Avoid caffeine, Avoid smoking and drinking, Avoid overthinking</p>
</body>
</html>

</body>
</html>