<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Anxiety</title>
{% include 'includes/navbarfirst.html' %}
<body style=" background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);">

    <div class="w3-sand  w3-large" style="margin: 30px 250px; border-style:inset; border-width:50px;">
    <div class="w3-container" id="about" style="background-color: #6495ED;">
    <div class="w3-content" style="max-width:700px">
    <h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide"><center>ANXIETY</center></span></h2>
    <center><img src="/static/assets/img/disease/anxiety.jpg" alt="LA" style="width:75%"></center>
        <ul>
            <li><h4><b>Description</b></h4><p>Anxiety is a feeling of unease, such as worry or fear, that can be mild or severe.
                Everyone has feelings of anxiety at some point in their life. For example, you may feel worried and anxious about sitting an exam or having a job interview</p></li>
            <li><h4><b>Symptoms</b></h4><p>restlessness, a sense of dread, feeling constantly "on edge", difficulty concentrating, irritability</p></li>
            <li><h4><b>Precautions</b></h4><p>Walking fast or jogging, swimming, any sport, distract yourself.</p></li>
            <li><h4><b>Cures</b></h4><p>Learn to relax, Avoid caffeine, Avoid smoking and drinking, Avoid overthinking</p></li>
        </ul>
      </div>
    </div>
    </div>
    </body>
    </html>