<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Allery</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
html,body {font-family:"Verdana",sans-serif}
h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",sans-serif}
</style>
<script src=""></script>
<body>

<img src="/static/assets/img/disease/bronchitis.jpg" alt="LA" style="width:75%">

<h1>Description</h1>
<p>Bronchitis is an infection of the main airways of the lungs (bronchi), causing them to become irritated and inflamed.
The main symptom is a cough, which may bring up yellow-grey mucus (phlegm). Bronchitis may also cause a sore throat and wheezing. </p>
<h1>Symptoms</h1>
<p>sore throat, headache, runny or blocked nose, aches and pains, tiredness</p>
<h1>Precautions</h1>
<p>Prevent Exposure to irritant substances for longer duration like: grain dust, textiles (fabric fibres), ammonia, strong acids, chlorine</p>
<h1>Cures</h1>
<p>Get plenty of rest, drink lots of fluids – this helps prevent dehydration and thins the mucus in your lungs, making it easier to cough up, treat headaches, fever, and aches and pains with paracetamol or ibuprofen – although ibuprofen is not recommend</p>

</body>
</html>