<!DOCTYPE html>
<html>
<head>
<title>hairloss</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% include 'includes/navbarfirst.html' %}
<style>
    body {font-family: "Raleway", sans-serif;background-color: #6495ED;}
</style>
</head>
<body class="" style="font-weight: bolder;">


<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>HAIR PROBLEM</b></h1>
  
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white" style="border-style:inset; border-width:30px;">
    
    <div class="w3-container">
      <h3><b>WHAT CAUSES HAIRFALL</b></h3>
      <h5>CAUSES & SYMPTOMS </h5>
    </div>

    <div class="w3-container">
      <p>Signs of hair loss show up in many ways. You may notice a:

        Gradual thinning of the hair on your head
        
        Bald spot that grows slowly
        
        Receding hairline that becomes more visible with each passing year
        
        Widening part
        
        Thinner ponytail
        
        Millions of people develop these signs of hair loss, which tend to appear gradually. These signs can be subtle, so you may have hair loss for months or years before you notice it.
        
        While many people who have hair loss develop one or more of these common signs, hair loss can occur in other ways.
        
        Hair loss can appear suddenly and dramatically
        While hair loss often occurs gradually, it’s possible to see:
        
        A bald patch or strip appear within 1 or 2 days
        
        Clumps of hair fall out when you comb or brush your hair
        
        All (or most of) the hair on your head fall out
        
        Hair loss can develop elsewhere, aside from your scalp
        While hair loss usually affects the scalp, some conditions can cause hair loss on other areas of the body. Alopecia areata is a disease that can cause hair loss anywhere on the body where hair grows. People who have alopecia areata often have hair loss on their scalp, but they can also lose part (or all) of their:
        
        Eyebrows
        
        Eyelashes
        
        Beard
        
        Nose hairs
        
        Pubic hair
        
        A few people who have alopecia areata lose all the hair on their body. When this happens, the disease is called alopecia universalis.
        
        Frontal fibrosing alopecia is another disease that causes hair loss on the scalp and elsewhere. Some people lose their eyebrows, eyelashes, or hair on other areas of the body.
        
        It’s also possible to keep the hair on your head and lose it elsewhere. The friction from wearing tight clothing, shoes, or socks can cause hair loss where you have continual rubbing.
        
        Symptoms and other signs of hair loss
        While less hair is often the only sign of hair loss, some people develop symptoms and other signs. You may have hair loss along with:
        
        Burning or stinging before sudden hair loss - Some people who have alopecia areata experience this.
        
        Intense itching, burning, and tenderness where you have hair loss - If these occur, it’s possible that you have an infection.
        
        Scaly bald patches, often with sores or blisters that open and ooze pus - This often mean you have a fungal infection on your scalp.
        
        Redness, swelling, and sores that may itch and leak pus - A condition called folliculitis decalvans can cause this.
        
        Scaly patches of psoriasis on your scalp - Most people who have psoriasis get it on their scalp at some time, and this can cause temporary hair loss.
        
        The signs and symptoms that you develop depend on what’s causing your hair loss.</p>
      <div class="w3-row">
        
      
      </div>
    </div>
  </div>
  

  <!-- Blog entry -->
  <div class="w3-card w3-margin" style="background-color: white; border-style:inset; border-width:30px;">
  
    <div class="w3-container">
      <h3><b>PRECAUTIONS FOR HAIR FALL</b></h3>
      
    </div>

    <div class="w3-container">
      <p><b>Hair Fall Prevention Tips</b>
        <ul>
        <li>Switch to a balanced diet.</li>
        <li>Get adequate sleep.</li>
        <li>Steer clear of tight hairstyles.</li>
        <li>Pop a multivitamin tablet.</li>
        <li>Cover your hair with a scarf when you are out in the pollution.</li>
        <li>Stay away from hair styling techniques as much as possible.</li>
        <li>Regular oil massages will calm the mind, relieve stress and strengthen the roots.</li>
        <li>Washing hair with hot water can cause hair fall. Cool water is always recommended for hair wash.</li>
        </ul></p>
      <div class="w3-row">
      
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4" style="text-align: justify; border-style:inset; border-width:30px;">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  
    <div class="w3-container w3-white">
      <h4><b>HOW IMPORTANT IS HAIR</b></h4>
      <p>A woman's hair is the first most noticeable part of her beauty. It enhances her personality. It's an important part of your appearance and sets the tone for your entire look. A bad hair day is just a bad day.</p>
    </div>
  </div>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>HAIR FALL CONTROL FOOD</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <b>#1 - Eggs</b><br>
        Eggs are a great source of protein and biotin, both of which promote hair strength. In fact, protein is like the building block of your hair. Which is why, the lack of it has always been associated with hair fall. Additionally, biotin is essential to produce keratin, which is also a kind of hair protein. All of this makes eggs the perfect addition to your diet. The best part about eggs is also the fact that you can eat them in so many ways - boiled, scrambled, curried, so on and so forth.
      </li>
      <li class="w3-padding-16">
        <b>#2 - Oats</b><br>
        They aren’t just a great source of fiber, but also have a high concentration of essential nutrients like iron, zinc, and omega-6 fatty acids. These are often referred to as Polyunsaturated fatty acids (PUFAs) and are essential to maintain skin as well as hair health. You can have oats for breakfast every few times a week, to ensure your hair gets all the nutrients it needs.
      </li> 
      <li class="w3-padding-16">
        <b>#3 - Carrots</b><br>
        They are not just meant for your eyes, but also are the perfect source of Vitamin A your hair needs. They are extremely nutritious for the scalp and go a long way in keeping your hair moisturized from the roots to the tips which can also be a best include for the summer diet for hair fall. You can snack on carrots along with a dip or add them to other dishes like fried rice, vegetable chaat, so on and so forth.

      </li>   
       
    </ul>
  </div>
  
 
  <!-- Labels / tags -->
  
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->


</body>
</html>
