<!DOCTYPE html>
<html>
<head>
<title>Nutrition </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    
body {font-family: "Raleway", sans-serif;background-color: #6495ED;}
</style>
</head>
<body class="">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Nutrition Care</b></h1>
  
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white" style="border-style: inset;border-width:30px">
    
    <div class="w3-container">
      
    </div>

    <div class="w3-container">
    
      <div class="w3-row" ><br>
        <h2><b>NUTRITION</b></h2><br>
<H4>Nutrition is about eating a healthy and balanced diet. Food and drink provide the energy and nutrients you need to be healthy. Understanding these nutrition terms may make it easier for you to make better food choices.</H4>
<BR> <h2><b>Types of Nutrients</b></h2><br>
<H4>In general, there are two types of nutrients:</H4>
<li style="font-weight: bolder;">Macronutrients</li>
<li style="font-weight: bolder;">Micronutrients</li>
<BR><h2><b>Important Nutrients in Food</b></h2><br>
<H4>There are several nutrients that cannot be synthesized by the body and have to be taken externally through food. These are vital for the proper functioning of the body. The important nutrients and their functions include are mentioned below:

</H4>
<ul style="font-weight: bolder;">
  <li><h4><b>Carbohydrates</b></h4><p>It is one of the main sources of energy for human beings. It comprises of three types of carbohydrates and they include fibre, sugar, and starch. They are usually low calories and thus help in maintaining a healthy diet.</p></li>
  <li><h4><b>Calcium</b></h4><p>It is a mineral that is vital for building strong bones and teeth. In very fewer quantities it is also needed to our nerves, muscles work and heart. Sources of calcium include pudding, milk, yoghurt, tofu, canned fish, and fresh leafy green vegetables. Lack of calcium leads to a disease called Osteoporosis.</p></li>
  <li><h4><b>Cholesterol</b></h4><p>It is essential for the brain, nerves, and development of cells. It plays an important role in the forming of enzymes and hormones. Foods include cheese, milk, chicken, beef, and fish.</p></li>
  <li><h4><b>Fats</b></h4><p>It is one of the most important sources of calories. One gram of fat consists of 9 calories. It is almost twice of calories that we get from carbohydrates and proteins.  Fat is usually found in foods that we use in cooking, as spreads on bread and it also found in snacks, pastries.</p></li>

      <li><h4><b>Iron</b></h4><p>It is a constituent of our red blood cells. Its function is to carry oxygen from our lungs to organs, muscles, and cells. Food sources include spinach, soybeans and other leafy vegetables.</p></li>
        <li><h4><b>Protein</b></h4><p>They are made of amino acids. We can obtain protein in foods such as nuts, lentils, beef, rice, chicken, beef etc..</p></li>
        <li><h4><b>Sodium</b></h4><p>Foods like milk and fresh vegetables contain sodium. Lack of sodium might lead to high blood pressure..</p></li>
</ul>
   <br>   <br>
      </div>
    </div>
  </div>
  

  <!-- Blog entry -->
  
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4" style="text-align: center;">
  <!-- About Card -->
 
  
  <!-- Posts -->
  <div class="w3-card w3-margin" style="background-color: white; padding:30px; border-style: inset; border-width:30px">
    <div class="w3-container w3-padding">
      <h3><B>FUNCTIONS OF NUTRIENTS</B></h3>
    </div>
   
    
    
    <ul style="font-weight: bolder;">
    <LI>They are the main source of energy for the body.</LI>
    <li>They help in building and repairing body tissues.</li>
    <li>Increases the absorption of fat-soluble vitamins.</li>
    <li>Helps in the synthesis of collagen.</li>
    <LI>Provides proper structure to the blood vessels, bones and ligaments.</LI>
    <li>They also help in maintaining the homeostasis of the body.</li>
    </ul><br>
    
<BR>
    <H3><b>NUTRITION PLAN </b></H3> <br>
     <B> <P>Eating a healthy, balanced diet is an important part of maintaining good health, and can help you feel your best.</P>  </b></H3>
    <ul style="font-weight: bolder;">
    <li>Food groups in your diet</li>
    <li>Fruit and vegetables: are you getting your 5 A Day?</li>
    <li>Starchy foods in your diet</li>
    <li>Milk and dairy foods </li>
    <li>Beans, pulses, fish, eggs, meat and other proteins </li>
    <li>Oils and spreads</li>
    <li>Eat less saturated fat, sugar and salt</li>
    </ul>
  </div>
  
 
  

</body>
</html>
