<!DOCTYPE html>
<html>
<head>
<title>skin </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    
body {font-family: "Raleway", sans-serif;background-color: #6495ED;}
</style>
</head>
<body class="" style="font-weight: bolder;">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px ;" >

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>SKIN CARE</b></h1>
  
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12" >
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    
   

    <div class="w3-container" style="border-style:inset; border-width:30px;">
    
      <div class="w3-row"><br>
       <H3> <b>What are skin diseases?</b></H3><br>
<li>Your skin is the large organ that covers and protects your body. Your skin has many functions. It works to:</li>

<li>Hold in fluid and prevent dehydration.</li>
<li>Help you feel sensations, such as temperature or pain.</li>
<li>Keep out bacteria, viruses and other causes of infection.</li>
<li>Stabilize your body temperature.</li>
<li>Synthesize (create) vitamin D in response to sun exposure.</li>
<li>Skin diseases include all conditions that clog, irritate or inflame your skin. Often, skin diseases cause rashes or other changes in your skin’s appearance.</li><br><br>
<H3><b>What causes skin diseases?</b></H2><br><br>

<p>Certain lifestyle factors can lead to the development of a skin disease. Underlying health conditions may affect your skin, too. Common causes of skin diseases include:
</p>
<li>Bacteria trapped in your pores or hair follicles.</li>
<li>Conditions that affect your thyroid, kidneys or immune system.</li>
<li>Contact with environmental triggers, such as allergens or another person’s skin.</li>
<li>Genetics</li>
<li>Fungus or parasites living on your skin.</li>
<li>Medications, such as the ones that treat inflammatory bowel disease (IBD).</li>
<li>Viruses.</li>
<li>Diabetes.</li>
<li>Sun.</li><br><br>
<H3><b>What are the symptoms of skin diseases?</b></H3><br><br>
<li>Skin disease symptoms vary significantly, depending on what condition you have. Skin changes are not always due to skin diseases. For example, you may get a blister from wearing ill-fitting shoes. However, when skin changes show up with no known cause, they may be linked to an underlying condition.</li>

Generally, skin diseases may cause:

<li>Discolored skin patches (abnormal pigmentation).</li>
<li>Dry skin.</li>
<li>Open sores, lesions or ulcers.</li>
<li>Peeling skin.</li>
<li>Rashes, possibly with itchiness or pain.</li>
<li>Red, white or pus-filled bumps.</li>
<li>Scaly or rough skin.</li>

   <br>   <br>
      </div>
    </div>
  </div>
  

  <!-- Blog entry -->
  
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4" style="text-align:justify; border-style:inset; border-width:30px;">
  <!-- About Card -->
 
  
  <!-- Posts -->
  <div class="w3-card " style="background-color: white; padding:30px">
    <div class="w3-container w3-padding">
      <h3><B>How is a skin disease diagnosed?</B></h3>
    </div>
   
    
    Often, a healthcare provider can diagnose a skin disease by visually examining your skin. If looking at your skin doesn’t provide clear answers, your provider may use tests such as:
    <ul>
    <LI>Biopsy, removing a small piece of skin to examine under a microscope</LI>
    <li>Culture, taking a skin sample to test for bacteria, fungus or viruses.</li>
    <li>Skin patch test, applying small amounts of substances to test for allergic reactions.</li>
    <li>Dermoscopy, using a hand-held device called a dermatoscope to diagnose skin lesions.</li>
    <br><b>Continue to talk with your doctor while on your weight loss plan. Think about the big picture. Setbacks are bound to happen, but you should concentrate on the small goals and changes. These are what will get you to the finish line.</b>
</ul><br>
    <H3><b>How are skin diseases treated? </H3> <br>
       Many skin diseases respond well to treatment. Depending on the condition, a dermatologist (doctor specializing in skin) or other healthcare provider may recommend:</b>
    <ul><li>Antibiotics</li>
    <li>Anti Histaines</li>
    <li>Laser Skin Refracturing</li>
    <li>Medicated creams, ointments or gels.</li>
    <li>Moisturizers.</li>
    <li>Oral medications (taken by mouth).</li>
    <li>Steroid pills, creams or injections.</li>
    <li>Can you suggest a support group for people who are losing weight?</li>
    <li>Surgical procedures.</li></ul>
  </div>
  
 
  

</body>
</html>
