<!DOCTYPE html>
<html>
<head>
<title>weight </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% include 'includes/navbarfirst.html' %}
<style>
    
body {font-family: "Raleway", sans-serif;background-color: #6495ED;}
</style>
</head>
<body class="" style="font-weight: bolder;">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>WEIGHT</b></h1>
  
</header>

<!-- Grid -->
<div class="w3-row" >

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white" style="border-style: inset; border-width:30px">
    
    <div class="w3-container">
      <h3><b>WEIGHT PROBLEMS</b></h3>
      <h5>CAUSES & SYMPTOMS </h5>
    </div>

    <div class="w3-container">
      <p>Obesity is a complex disease involving an excessive amount of body fat. Obesity isn't just a cosmetic concern. It's a medical problem that increases the risk of other diseases and health problems, such as heart disease, diabetes, high blood pressure and certain cancers.

        There are many reasons why some people have difficulty losing weight. Usually, obesity results from inherited, physiological and environmental factors, combined with diet, physical activity and exercise choices.
        
        <div class="w3-row">
       
Although there are genetic, behavioral, metabolic and hormonal influences on body weight, obesity occurs when you take in more calories than you burn through normal daily activities and exercise. Your body stores these excess calories as fat.

Many people who live in Western countries now have jobs that are much less physically demanding, so they don't tend to burn as many calories at work. Even daily activities use fewer calories, courtesy of conveniences such as remote controls, escalators, online shopping and drive-through banks.
<br><br>
<b>Risk factors</b><br><br>
Obesity usually results from a combination of causes and contributing factors:
<br><br>
<b>Family inheritance and influences</b><br>
<p>The genes you inherit from your parents may affect the amount of body fat you store, and where that fat is distributed. Genetics may also play a role in how efficiently your body converts food into energy, how your body regulates your appetite and how your body burns calories during exercise.

    Obesity tends to run in families. That's not just because of the genes they share. Family members also tend to share similar eating and activity habits.</p>
<br>
<b>Lifestyle choices</b><br><br>
Unhealthy diet. A diet that's high in calories, lacking in fruits and vegetables, full of fast food, and laden with high-calorie beverages and oversized portions contributes to weight gain.
Liquid calories. People can drink many calories without feeling full, especially calories from alcohol. Other high-calorie beverages, such as sugared soft drinks, can contribute to significant weight gain.
Inactivity.
<br><br>
<b>Social and economic issues</b><br>
Social and economic factors are linked to obesity. Avoiding obesity is difficult if you don't have safe areas to walk or exercise. Similarly, you may not have been taught healthy ways of cooking, or you may not have access to healthier foods. In addition, the people you spend time with may influence your weight — you're more likely to develop obesity if you have friends or relatives with obesity.
<br><br>
<b>Age</b><br>
Obesity can occur at any age, even in young children. But as you age, hormonal changes and a less active lifestyle increase your risk of obesity. In addition, the amount of muscle in your body tends to decrease with age. Generally, lower muscle mass leads to a decrease in metabolism. These changes also reduce calorie needs and can make it harder to keep off excess weight. If you don't consciously control what you eat and become more physically active as you age, you'll likely gain weight.
<br><br>
<b>Other factors</b><br><br>
Pregnancy. Weight gain is common during pregnancy. Some women find this weight difficult to lose after the baby is born. This weight gain may contribute to the development of obesity in women.
Quitting smoking. Quitting smoking is often associated with weight gain. And for some, it can lead to enough weight gain to qualify as obesity. Often, this happens as people use food to cope with smoking withdrawal. In the long run, however, quitting smoking is still a greater benefit to your health than is continuing to smoke. Your doctor can help you prevent weight gain after quitting smoking.
Lack of sleep.
   <br>   <br>
      </div>
    </div>
  </div>
  

  <!-- Blog entry -->
  
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4" style="text-align: center;">
  <!-- About Card -->
 
  
  <!-- Posts -->
  <div class="w3-card w3-margin" style="background-color: white; padding:30px; border-style: inset; border-width:30px"">
    <div class="w3-container w3-padding">
      <h4>Weight-loss management</h4>
    </div>
   
    
    There are tools you can use throughout your weight loss plan. They help to track your progress and reach your goals. These include:
    <ul>
    <LI>A pedometer to count your steps.</LI>
    <li>A food diary, or journal.</li>
    <li>Smartphone apps to record diet and exercise.</li>
    <li>A measuring tape or scale.</li>
    <li>A BMI calculator.</li>
    <br><b>Continue to talk with your doctor while on your weight loss plan. <BR><Br>Think about the big picture. Setbacks are bound to happen, but you should concentrate on the small goals and changes. These are what will get you to the finish line.</b>
</ul><br><br>
    <b>Questions to ask your doctor</b>
    <ul><li>Are there any risks to a weight loss plan?</li>
    <li>What BMI should I aim for?</li>
    <li>What weight loss goals should I make?</li>
    <li>What happens if I lose more than the recommended 2 lbs. per week?</li>
    <li>What should I do if I have a food craving?</li>
    <li>Should I take any supplements as part of my weight loss plan?</li>
    <li>Can you recommend a dietician?</li>
    <li>Can you suggest a support group for people who are losing weight?</li>
    <li>Once I meet my weight loss goals, how do I maintain my weight?</li></ul>
  </div>
 
 
  <!-- Labels / tags -->
  
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->


</body>
</html>
